* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FiraGo';
    src: url(.//fonts/FiraGO-Regular.woff);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 575px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
}


label {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    padding: 5px 0px;
}

.wandh {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    width: 494px;
    height: 40px;
    padding: 5px 0px;
    
    
}

.about {
    width: 494px;
    height: 148px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

h1 {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    margin-top: 20px;
    margin-left: 36px;
}

form {
    margin-top: 10px;
    
    
}

::placeholder {
    position: absolute;
    left: 18px;
    top: 8px;
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7E7;
}



.dis {
    padding: 2px 40px;
    
}

button {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 360px;
    width: 175px;
    height: 38px;
    background: #FFDD04;
    border-radius: 10px;
    border-color: transparent;
    
}

a {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: black;
}
