* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FiraGo';
    src: url(.//fonts/FiraGO-Regular.woff);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 718px;
    height: 650px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
}


label {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
}

.wandh {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    width: 616px;
    height: 30px;
    
}

.about {
    width: 616px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

h1 {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    margin-top: 30px;
    margin-left: 46px;
}

form {
    margin-left: 51px;
    
}

::placeholder {
    position: absolute;
    left: 18px;
    top: 4px;
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7E7;
}



.dis {
    margin-top: 22px;
}

button {
    margin-top: 10px;
    margin-left: 462px;
    width: 205px;
    height: 47px;
    background: #FFDD04;
    border-radius: 10px;
    border-color: transparent;
    
}

a {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}
